---
---

body {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 1000px;

    .menustrip {
        display: flex;
        justify-content: flex-start;

        width: 100%;
        height: 3rem;
        // background-color: blue;

        .menuitem {
            width: 30%;
        }
    }
}
